{% extends "remenis_base_nav.html" %}

        {% block content %}
        <div class="span9">
            <div class="hero-unit">
                <h1><img src={{ photourl }} /> Hi, {{ fullname }}!</h1>
                <p> {{ profile }} </p>
                <!--<a id="logout" href="/" onclick='FB.Connect.ifUserConnected(null,function() { window.location = "/" }); FB.Connect.logoutAndRedirect("/"); return false;'>Sign out</a>
                <a href="/" id="auth-logoutlink">logout [doesn't work!!!]</a>-->
            </div>
        </div>
        {% endblock %}

