{% extends "remenis_base.html" %}
        
        {% block no_sidebar %}
        {% endblock %}
        
        {% block content %}
        <div class="span9">
            <div class="hero-unit">
                <img src="/static/remenis_logo.png" width=200 />
                <br><br>
                <p>You must login first to view this story.</p>
                <br>
                <a class="login rpxnow btn btn-primary btn-large" href="https://remenis.rpxnow.com/openid/v2/signin?token_url={{ token_url }}{{ subsite }}{{ story_id }}">Login with Facebook &raquo;</a>
            </div>
        </div><!--/span-->
        {% endblock %}

        {% block load_javascript %}
        <!-- RPX social login widget -->
        <script>
            var rpxJsHost = (("https:" == document.location.protocol) ? "https://" : "http://static.");
            document.write(unescape("%3Cscript src='" + rpxJsHost +
                                    "rpxnow.com/js/lib/rpx.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script>
            RPXNOW.overlay = true;
            RPXNOW.language_preference = 'en';
            // Set default provider to Facebook
            // https://rpxnow.com/docs#sign-in_default_provider
            //RPXNOW.default_provider = 'facebook';
        </script>
        {% endblock %}
