{% extends "remenis_base.html" %}

        {% block head_extra %}
        <style type="text/css">
            .background {
                background:					#000000 url(/static/remenis_background.jpg) no-repeat top center fixed;
                -webkit-background-size:	cover;
                -moz-background-size:		cover;
                -o-background-size:			cover;
                background-size:			cover;
                background-clip:			border-box;
                background-origin:			padding-box;
            }
        </style>
        {% endblock %}

        {% block splash %}
        <div style="text-align: center;">
            <!--[if IE]>
            <div style="text-align: left; margin: 30px 0px; width: 300px;">
                <img src="/static/remenis_logo.png"/>
            </div>
            <p style="text-align: left; width: 500px; margin: 40px 0px; font-size: 20px; font-family: Verdana; color: #FFFFFF; line-height:120%;">Sorry, we currently do not support Internet Explorer.  Consider using <a href="http://www.mozilla.org/firefox/new/" target="_blank">Mozilla Firefox</a> or <a href="http://www.google.com/chrome/" target="_blank">Google Chrome</a><p>
            <![endif]-->
            <!--[if !IE]> -->
            <div style="margin: 30px auto; width: 630px;">
                <img src="/static/remenis_logo.png"/>
            </div>
            <section style="width: 600px; margin: 0px auto; position: relative; z-index: 2;">
                <div style="background: url('/static/remenis_box.png'); height: 414px;">
                    <p style="font-size: 27px; font-family: Verdana; color: #FFFFFF; padding: 65px 0px 25px 0px;">A collection of all your life stories.</p>
                    <a class="login rpxnow btn btn-primary btn-xlarge" href="https://remenis.rpxnow.com/openid/v2/signin?token_url={{ token_url }}{{ subsite }}{{ story_id }}">Login with Facebook &raquo;</a>
                </div>
            </section>
            <!-- <![endif]-->
        </div>
        {% endblock %}

        {% block no_body %}
        {% endblock %}

        {% block no_footer %}
        {% endblock %}

        {% block load_javascript %}
        <!-- RPX social login widget -->
        <script>
            var rpxJsHost = (("https:" == document.location.protocol) ? "https://" : "http://static.");
            document.write(unescape("%3Cscript src='" + rpxJsHost +
                                    "rpxnow.com/js/lib/rpx.js' type='text/javascript'%3E%3C/script%3E"));
            </script>
        <script>
            RPXNOW.overlay = true;
            RPXNOW.language_preference = 'en';
            // Set default provider to Facebook
            // https://rpxnow.com/docs#sign-in_default_provider
            //RPXNOW.default_provider = 'facebook';
            </script>
        {% endblock %}
