{% extends "remenis_base.html" %}

        {% block inside_body %}
        background="../static/homepage_background.jpg"
        {% endblock %}

        {% block splash %}
        <!--<div style="text-align: center; margin-left: auto; margin-right: auto; margin-bottom: 50px; width: 630px;">
            <img src="../static/remenis_logo.png"/>
        </div>-->
        {% endblock %}

        {% block no_sidebar %}
        {% endblock %}

        {% block no_footer %}
        {% endblock %}

        {% block load_javascript %}
        <script>
            $(function() {
                window.close();
                });
        </script>
        {% endblock %}



