{% extends "remenis_base_nav.html" %}

        {% block content %}
        <div class="span9">
            <div class="hero-unit">
                <h2>{{ search_authorname }}</h2>
                <br>                
                <p id="nate"></p>
                
                {% if stories_about_user %}
                <p>Found {{ stories_about_user|length }} stories <strong>about</strong> {{ search_authorname }}.</p>
                <ul>
                    {% for story in stories_about_user %}
                    <hr>
                    <div class="row-fluid">
                        <div class="span6">
                            <h3>{{ story.authorid }} wrote {{ story.title }}</h3>
                            <p>{{ story.story }}</p>
                            <div id="date_div" style="font-size: 18;">
                                <p><i>
                                {{ story.story_date_year }}
                                {% if story.story_date_month != 0 %}
                                / {{ story.story_date_month }}
                                {% endif %}
                                {% if story.story_date_day != 0 %}
                                / {{ story.story_date_day }}
                                {% endif %}
                                </i></p>
                            </div>
                        </div>
                        <div class="span4">
                            <table class="table table-unbordered" id="tagged-friends-table">
                                {% for dic_storyid, dic_taggedusers in stories_dictionary.items %}
                                    {% ifequal dic_storyid story.id %}
                                        <tbody id="tagged-friends-body">
                                            {% for tagged_user_id in dic_taggedusers %}
                                            <tr id="{{ tagged_user_id }}" onclick="document.location='?q={{ tagged_user_id }}';">
                                                <td width="30">
                                                    <img id="{{ tagged_user_id }}" src="https://graph.facebook.com/{{ tagged_user_id }}/picture?type=square" height="30" onload="populateHover(this)" />
                                                    <!--data-original-title="Loading data..." onmouseover="populateHover(this)" rel="popover" data-placement="right"-->
                                                </td>
                                                <td width="100"><p id="p{{ tagged_user_id }}"></p></td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    {% endifequal %}
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                    {% endfor %}
                    <hr>
                </ul>
                {% else %}
                <p>No stories.</p>
                {% endif %}
            
                {% if stories_written_by_user %}
                <p>Found {{ stories_written_by_user|length }} stories <strong>written by</strong> {{ search_authorname }}.</p>
                <ul>
                    {% for story in stories_written_by_user %}
                    <li>{{ story.title }} - {{ story.story }}</li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>No stories.</p>
                {% endif %}
                
                <form action="/search/" method="get">
                    <input type="submit" class="btn btn-large" value="Search Again &raquo;">
                </form>
            </div>
        </div><!--/span-->
        {% endblock %}

        {% block load_javascript %}
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script>
            $(function() {
              $('img[rel="popover"]').popover();
              
//              var table = document.getElementById("tagged-friends-table");
//              var rowCount = table.rows.length;
//              var tagged_friends_array = [];
//              for(var i=0; i<rowCount; i++)
//              {
//                  var row = table.rows[i];
//                  var fburl = "http://graph.facebook.com/" + row.id;
//                  $.getJSON(fburl, function(data){
//                            row.cells[0].childNodes[0].setAttribute("data-original-title", data["name"]);
//                            });
//              }
            });
            
//            function populateHover(image)
//            {
//                document.getElementById('nate').innerHTML += ".";
//                var fburl = "http://graph.facebook.com/" + image.id;
//                $.getJSON(fburl, function(data){
//                          image.setAttribute("data-original-title", data["name"]);
//                          });
//            }
            function populateHover(image)
            {
                var fburl = "http://graph.facebook.com/" + image.id;
                //alert(fburl);
                $.getJSON(fburl, function(data){
                          document.getElementById('nate').innerHTML += "-";
                          document.getElementById('p' + image.id).innerHTML = data["name"];
                          });
            }
        </script>
        {% endblock %}
