{% extends "remenis_base_nav.html" %}

        {% block content %}

        {% if not_friend %}
        <p><a href="http://www.facebook.com/{{ profileid }}">{{ search_authorname }}</a> is not your Facebook friend.</p>
        {% else %}
        <h2>{{ search_authorname }}</h2>
        <br>                
        <p id="nate"></p>

        <p>Found {{ stories_about_user|length }} stories.</p>

        {% for story in stories_about_user %}

        <div class="row-fluid">
            <a class="span1" href="../{{ story.authorid.fbid }}" style="margin-top: 10px; margin-right: -10px;"><img src="https://graph.facebook.com/{{ story.authorid.fbid }}/picture?type=square" height="50" width="50" style="border-radius: 5px; -moz-border-radius: 5px; -khtml-border-radius: 5px; -webkit-border-radius: 5px;" /></a>
            <table class="table table-bordered span7" style="margin-bottom: 40px">
                <tr><td>
                    <p><strong>{{ story.authorid }}</strong><span style="color: grey;"> wrote </span><strong style="color: blue;">{{ story.title }}</strong></p>
                </td></tr>
                <tr><td>
                    <p style="color: grey;">{{ story.story }}</p>
                </td></tr>
                <tr><td>
                    <div id="date_div" style="color: grey">
                        <p><i>
                            {{ story.story_date_year }}
                            {% if story.story_date_month != 0 %}
                            / {{ story.story_date_month }}
                            {% endif %}
                            {% if story.story_date_day != 0 %}
                            / {{ story.story_date_day }}
                            {% endif %}
                        </i></p>
                    </div>
                </td></tr>
            <table>
            <div class="span4">
                <p>In This Story</p>
                <table class="table table-unbordered table-condensed span4" id="tagged-friends-table">
                    {% for dic_storyid, dic_taggedusers in stories_dictionary.items %}
                        {% ifequal dic_storyid story.id %}
                            <tbody id="tagged-friends-body">
                                {% for tagged_user_id in dic_taggedusers %}
                                <tr id="{{ tagged_user_id }}">
                                    <td width="30">
                                        <a href="../{{ tagged_user_id }}"><img id="{{ tagged_user_id }}" src="https://graph.facebook.com/{{ tagged_user_id }}/picture?type=square" height="30" width="30" onload="populateHover(this)" style="border-radius: 3px; -moz-border-radius: 3px; -khtml-border-radius: 3px; -webkit-border-radius: 3px;"/></a>
                                    </td>
                                    <td><p id="p{{ tagged_user_id }}"></p></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        {% endifequal %}
                    {% endfor %}
                </table>
                <br><br><br>
            </div>                
        {% empty %}
        <p>No stories.</p>
        {% endfor %}
        </div>

        {% endif %}

        {% endblock %}

        {% block load_javascript %}
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script>
            $(function() {
              $('img[rel="popover"]').popover();
              
//              var table = document.getElementById("tagged-friends-table");
//              var rowCount = table.rows.length;
//              var tagged_friends_array = [];
//              for(var i=0; i<rowCount; i++)
//              {
//                  var row = table.rows[i];
//                  var fburl = "http://graph.facebook.com/" + row.id;
//                  $.getJSON(fburl, function(data){
//                            row.cells[0].childNodes[0].setAttribute("data-original-title", data["name"]);
//                            });
//              }
            });
            
//            function populateHover(image)
//            {
//                document.getElementById('nate').innerHTML += ".";
//                var fburl = "http://graph.facebook.com/" + image.id;
//                $.getJSON(fburl, function(data){
//                          image.setAttribute("data-original-title", data["name"]);
//                          });
//            }
            function populateHover(image)
            {
                var fburl = "http://graph.facebook.com/" + image.id;
                //alert(fburl);
                $.getJSON(fburl, function(data){
                          document.getElementById('nate').innerHTML += "-";
                          document.getElementById('p' + image.id).innerHTML = data["name"];
                          });
            }
        </script>
        {% endblock %}
