{% extends "remenis_base_nav.html" %}

        {% block content %}

        {% if not_friend %}
        <p><a href="http://www.facebook.com/{{ profileid }}">{{ profile_name }}</a> is not your Facebook friend.</p>
        {% else %}
        <h2>{{ profile_name }}</h2>
        <br>
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="?display=recent">Most Recent</a>
            </li>
            <li>
                <a href="?display=timeline">Timeline</a>
            </li>
        </ul>
        <br>

        {% for story in stories_about_user %}
        
        <a name="{{ story.id }}" style="position:absolute; margin-top: -70px"></a>
        <div class="row-fluid">
            <a class="span1 nounderline" href="/{{ story.authorid.fbid }}" style="margin-top: 10px; margin-right: -10px;">
                <img src="https://graph.facebook.com/{{ story.authorid.fbid }}/picture?type=square" class="highlightit rounded5" height="50" width="50"/>
            </a>
            <!--story table-->
            <table class="table table-bordered span7" style="margin-bottom: 40px;">
                <tr><td>
                    <div>
                        <p class="span10">
                            <a href="/{{ story.authorid.fbid }}"><strong>{{ story.authorid.full_name }}</strong></a>
                            <span style="color: grey;"> wrote </span>
                            <a href="/story/{{ story.id }}"><strong style="color: blue;">{{ story.title }}</strong></a>
                        </p>
                        <p align="right" style="color: grey; font-size: 12; {% if story.authorid.fbid == userid %} margin-right: 32px; {% endif %}">
                            {% for dic_storyid, dic_storypostdate in stories_post_date_dictionary.items %}
                                {% ifequal dic_storyid story.id %}
                                    {{ dic_storypostdate }}
                                {% endifequal %}
                            {% endfor %}
                        </p>
                        {% if story.authorid.fbid == userid %}
                        <div class="btn-group pull-right" style="margin-top: -30px;">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li><a data-toggle="modal" data-id="{{ story.id }}" class="edit_story" href="#post">Edit Story</a></li>
                                <li><a data-toggle="modal" data-id="{{ story.id }}" class="delete_story" href="#delete">Delete Story</a></li>
                            </ul>
                        </div>
                        {% endif %}
                    </div>
                </td></tr>
                <tr><td>
                    <p style="color: grey;">{{ story.story }} &nbsp;
                        <i style="color: #CFCFCF">
                            {% if story.story_date_month != 0 %}
                            {{ story.story_date_month }} / 
                            {% endif %}
                            {% if story.story_date_day != 0 %}
                            {{ story.story_date_day }} / 
                            {% endif %}
                            {{ story.story_date_year }}
                        </i>
                    </p>
                    {% if story.is_private %}
                    <p class="pull-right" style="color: #CFCFCF; font-size: 12; margin: -6px 0px; " rel="tooltip" title="Only those in this story are able to see it."><i>Private</i></p>
                    {% endif %}
                </td></tr>
                <!--comment form table row-->
                <tr><td>
                    <div style="color: grey; margin-top: 5px;">
                        <form action="/comment/" method="post" name="commentForm" onsubmit="return validateCommentForm(this)">
                            <input type="hidden" name="storyid" value="{{ story.id }}">
                            <div class="input-append">
                                <img src="/static/remenis_logo.png" width=40 style="margin-left: 2px; margin-right: 5px;"/>

                                <input name="comment" type="text" class="input-xlarge comment_text_box" size="16" placeholder="write a comment..." autocomplete="off">
                                    
                                <span class="add-on" style="font-size: 10; width: 18px; margin-left: -6px; margin-right: -2px; background-color: #258EAA; color: white;
                                        -webkit-transform: rotate(270deg);
                                        -moz-transform: rotate(270deg);
                                        -o-transform: rotate(270deg);
                                        -ms-transform: rotate(270deg);
                                        transform: rotate(270deg);">
                                {% for dic_storyid, dic_storylikes in stories_likes_dictionary.items %}
                                    {% ifequal dic_storyid story.id %}
                                        {{ dic_storylikes.count }}
                                    {% endifequal %}
                                {% endfor %}
                                </span>
                                
                                <button class="btn btn-medium" onclick="location.href='/like/{{ story.id }}'" style="margin-left: -4px;"
                                    {% if story.id in liked_story_ids %} disabled="disabled" {% endif %}>
                                    <i class="icon-heart"></i>
                                </button>
                                <button class="btn btn-medium" type="button" style="margin-left: -4px;" rel="popover" data-original-title="Bookmark" data-content="coming soon..." data-placement="top">
                                    <i class="icon-bookmark"></i>
                                </button>
                                <button class="btn btn-medium" onclick="SendAMessage({{ story.id }})" type="button" style="margin-left: -4px;">
                                    <i class="icon-share-alt"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </td></tr>
                {% for dic_storyid, dic_storycomments in stories_comments_dictionary.items %}
                    {% ifequal dic_storyid story.id %}
                        {% for story_comment in dic_storycomments %}
                        <tr style="background-color: #F0F0F0;"><td>
                            <a href="/{{ story_comment.authorid.fbid }}" class="nounderline">
                                <img id="{{ story_comment.authorid.fbid }}" class="highlightit rounded3" src="https://graph.facebook.com/{{ story_comment.authorid.fbid }}/picture?type=square" height="30" width="30"/>
                            </a>
                            &nbsp;&nbsp;<strong>{{ story_comment.authorid.full_name }}</strong>
                            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ story_comment.comment }}
                        </td></tr>
                        {% empty %}
                        <tr><td>&nbsp;no comments</td></tr>
                        {% endfor %}
                    {% endifequal %}
                {% endfor %}
            <table>
                
            <!--tagged user div-->
            <div class="span4">
                <table class="table table-borderless table-condensed span4" id="tagged-friends-table" style="margin-top: -30px; margin-left: 20px;">
                    {% for dic_storyid, dic_taggedusers in stories_tagged_users_dictionary.items %}
                        {% ifequal dic_storyid story.id %}
                            <tbody id="tagged-friends-body">
                                <tr><td>
                                    <p>In This Story</p>
                                </tr>
                                {% for tagged_user in dic_taggedusers %}
                                <tr>
                                    <td>
                                        <p>
                                            <a href="/{{ tagged_user.fbid }}" class="nounderline">
                                                <img id="{{ tagged_user.fbid }}" class="highlightit rounded3" src="https://graph.facebook.com/{{ tagged_user.fbid }}/picture?type=square" height="30" width="30"/>
                                            </a>
                                            &nbsp;&nbsp;{{ tagged_user.full_name }}
                                        </p>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr><td>none</td></tr>
                                {% endfor %}
                            </tbody>
                        {% endifequal %}
                    {% endfor %}
                </table>
                <br><br><br>
            </div>                
        {% empty %}
        <p>No stories.</p>
        {% endfor %}
        </div>

        {% endif %}

        {% endblock %}
