<html>
    <head>
        <meta charset="utf-8" />
        <title>Remenis</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" type="image/ico" href="/static/remenis_favicon.ico" />
        <meta property="og:title" content="Remenis"/>
        <meta property="og:type" content="website"/>
        <meta property="og:image" content="http://www.remenis.com/static/remenis_logo.png"/>
        <meta property="og:url" content="http://www.remenis.com"/>
        <meta property="og:site_name" content="Remenis"/>
        <meta property="og:description" content="A collection of all your life stories."/>
        <meta property="fb:app_id" content="297031353727647" />
        
        {% block head_extra %}
        {% endblock %}
            
        <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css"/>
        <style type="text/css">
            body {
                padding-top: 0px;
                padding-bottom: 40px;
            }
            .sidebar-nav-fixed {
                padding: 9px 0;
                position:fixed;
                left:20px;
                top:60px;
                width:250px;
            }
            .row-fluid > .span-fixed-sidebar {
                margin-left: 290px;
            }

        </style>
        <link href="/static/css/bootstrap-responsive.css" rel="stylesheet" type="text/css"/>
        <script type="text/javascript">
            
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-33801556-1']);
            _gaq.push(['_trackPageview']);
            
            (function() {
             var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
             ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
             var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
             })();
            
        </script>
    </head>
    <body class="background" {% block inside_body %}{% endblock %}>
        {% block nav %}
        {% endblock %}
        
        {% block splash %}
        {% endblock %}
        
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
                 var js, fjs = d.getElementsByTagName(s)[0];
                 if (d.getElementById(id)) return;
                 js = d.createElement(s); js.id = id;
                 js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=297031353727647";
                 fjs.parentNode.insertBefore(js, fjs);
                 }(document, 'script', 'facebook-jssdk'));
        </script>
        
        <!--post modal-->
        <div class="modal hide fade" id="post" style="display: none; width: 700px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h2 id="post_modal_title">Post a story!</h2>
            </div>
            <form action="/post/" method="post" name="submitForm" style="margin-bottom:0;" onsubmit="return validateSubmitForm(this)">
                <input type="hidden" id="storyid_for_edit" name="storyid_for_edit">
                <div class="modal-body">
                    <div class="row-fluid">
                        <div class="span6">
                            <p>Title:<br><input id="title_for_edit" type="text" class="span11" name="title" placeholder="(optional)" autocomplete="off"></p>
                            <p>Tell us your story:<br><textarea id="story_for_edit" name="story" class="span11" rows="6"></textarea></p>
                            <p>When did this story happen?</p>
                            <div id="post_date_div" style="margin-top: -8px;">
                                <select id="date_year_select" name="story_date_year" style="width: 100px;"></select>
                                <button id="add_month_button" type="button" style="margin-bottom: 7px;" onclick="addMonth()">+ add month</button>
                            </div>
                            <div style="margin-top: 10px;">
                                <label class="checkbox span2" id="checkbox_label" rel="tooltip" title="Only the friends tagged in this story will be able to view it.">
                                    <input id="private_checkbox" name="private" type="checkbox"> Private
                                </label>
                            </div>
                        </div>
                        <div class="span6">
                            <p>Who was in the story?<br><input id="tagged_friend_searchBox" type="text" class="input-xlarge" data-provide="typeahead" data-items="6" data-source='{{ friends_name_array_string|safe }}' placeholder="enter friend's name" autocomplete="off"></p>
                            <h3>tagged friends</h3>
                            <input type="hidden" id="post-tagged-friends" name="tagged_friends">
                            <table class="table table-unbordered" id="post-tagged-friends-table">
                                <tbody id="post-tagged-friends-body">
                                    <tr id="{{ userid }}">
                                        <td width="35"><img src="https://graph.facebook.com/{{ userid }}/picture?type=square" class="lightborder rounded3" height="30"/></td>
                                        <td width="150">{{ fullname }}</td>
                                        <td width="20"><img src="/static/img/x.png" height="15" id="{{ userid }}" onclick="removeTaggedFriend(this)"/></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row-fluid">
                        <div class="span8">
                            <p id="post_errortext" align="left" style="color: red; font-size: 16; margin-left: 10px;"></p>
                        </div>
                        <div class="span4">
                            <a href="#" class="btn" data-dismiss="modal">Close</a>
                            <input id="submitButton" name="submitButton" type="submit" class="btn btn-primary" style="width: 75px;" value="Submit &raquo;">
                        </div>
                    </div>
                </div>
            </form>
        </div>
        
        <!--delete modal-->
        <div class="modal hide fade" id="delete" style="display: none; width: 400px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h2>Delete!</h2>
            </div>
            <form action="/delete/" method="post" name="deleteForm" style="margin-bottom:0;" onsubmit="return deleteFormSubmitted()">
                <input type="hidden" id="storyid_for_delete" name="storyid_for_delete">
                <div class="modal-body">
                    <p>Are you sure you want to delete this story?</p>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn" data-dismiss="modal">Close</a>
                    <input id="deleteButton" name="deleteButton" type="submit" class="btn btn-primary" style="width: 75px;" value="Delete &raquo;">
                </div>
            </form>
        </div>
        
        <!--share modal-->
        <div class="modal hide fade" id="share" style="display: none; width: 370px;">
            <input type="hidden" id="storyid_for_share" name="storyid_for_share">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h2>Share your story!</h2>
            </div>
            <div class="modal-body">
                <div class="row-fluid">
                    <div class="span7" style="margin: auto;">
                        <button class="btn btn-primary btn-xlarge" onclick="PostToYourWall('')">Post to Your Wall &raquo;</button>
                        <br><br>
                        <button class="btn btn-primary btn-xlarge" onclick="SendAMessage('')">Send to a Friend &raquo;</button>
                    </div>
                    <div class="span5">
                        <img src="/static/remenis_logo.png" style="margin-top: 10px;"/>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">Close</a>
            </div>
        </div>

        <div style="margin-bottom: 400px;">
            {% block no_sidebar %}
            <div class="sidebar-nav-fixed" style="float: left; width: 200px; margin-top: -50px;">
                <div class="well">
                    <img src="/static/remenis_logo.png" width="200" style="margin: 0px auto 20px;"/>
                    <ul class="nav nav-list">
                        <li {% ifequal active_tab "home" %}class="active"{% endifequal %}>
                            <a href="/home"><i class="icon-home" style="margin-right: 6px"></i>Home</a>
                        </li>
                        <li {% ifequal active_tab "profile" %}class="active"{% endifequal %}>
                            <a href="/profile"><i class="icon-user" style="margin-right: 6px"></i>Profile</a>
                        </li>
                        <li {% ifequal active_tab "notifications" %}class="active"{% endifequal %}>
                            <a href="/notifications"><i class="icon-flag" style="margin-right: 6px"></i>Notifications {% if notification_count > 0 %}<span style="">({{ notification_count }})</span>{% endif %}</a>
                        </li>
                        <li {% ifequal active_tab "post" %}class="active"{% endifequal %}>
                            <a data-toggle="modal" href="#post"><i class="icon-pencil" style="margin-right: 6px"></i>Post</a>
                        </li>
                    </ul>
                    <div style="text-align: left; background: url('/static/storyoftheday.png'); width: 151px; height: 77px; margin: 20px 0px 20px;">
                        <p id="story_of_the_day" style="font-size: 13px; font-family: Verdana; color: #000000; padding: 5px 10px 5px 5px;">{{ story_of_the_day }}</p>
                    </div>
                    <div style="margin: -10px auto 50px;">
                        <img src="/static/storyoftheday_asterisk.png" width="20" style="float: left; margin-top: 5px;"/>
                        <input class="input-large" type="text" autocomplete="off" placeholder="Tell us your story..." style="width: 135px; float: right;" onclick="StoryOfTheDay()">
                    </div>
                </div>
            </div>
            {% endblock %}
            
            <div style="margin-left: 250px;">
            {% block content %}
            {% endblock %}
            </div>
        </div>
        
        {% block no_footer %}
        <footer>
            <hr style="width: 100%;">
            <div class="fb-like" data-href="http://www.remenis.com" data-send="true" data-width="450" data-show-faces="true" data-font="lucida grande" style="margin: 0px 0px 10px 20px; float: left;"></div>
            <p style="margin-right: 20px; float: right;">&copy; 2012 Nathan Chan</p>
        </footer>
        {% endblock %}
        
        
        {% block load_javascript %}
        {% endblock %}
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="/static/js/jquery.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
        <script src="http://connect.facebook.net/en_US/all.js"></script>
        
        <!--utils-->
        <script>
            FB.init({appId: '297031353727647', xfbml: true, cookie: true});
            
            var preventSubmit = function(event) {
                if(event.keyCode == 13)
                {
                    event.preventDefault();
                    return false;
                }
            }
            
            function getParameter(parameter)
            {
                //Get Query String from url
                fullQString = window.location.search.substring(1);
                
                if(fullQString.length > 0)
                {
                    //Split Query String into separate parameters
                    paramArray = fullQString.split("&");
                    
                    //Loop through params, check if parameter exists.  
                    for (i=0;i<paramArray.length;i++)
                    {
                        currentParameter = paramArray[i].split("=");
                        if(currentParameter[0] == parameter) //Parameter already exists in current url
                        {
                            return currentParameter[1];
                        }
                    }
                }
                
                return false;
            }
        </script>
        
        <!--javascript for story of the day-->
        <script>
            function StoryOfTheDay()
            {
                $("#story_for_edit").prop("placeholder", document.getElementById('story_of_the_day').innerHTML);
                $('#post').modal('show');
            }
        </script>
        
        <!--javascript for share-->
        <script>
            function ShareThisLink(storyid)
            {
                if (storyid == "")
                {
                    storyid = document.getElementById('storyid_for_share').value;
                }
                if (storyid != "")
                {
                    $.getJSON('/api/story/' + storyid, function(jsonString)
                              {
                                    var url = 'https://www.facebook.com/sharer/sharer.php?s=100&p%5Burl%5D=http://www.remenis.com/story/' + storyid + '&p%5Bimages%5D%5B0%5D=http://www.remenis.com/static/remenis_logo.png&p%5Btitle%5D=I just wrote this story on Remenis!&p%5Bsummary%5D=' + jsonString['title'] + ': ' + jsonString['story'];
                                    popupWindow = window.open(url,'popUpWindow','height=350,width=700,left=10,top=10,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no,status=yes');
                              });
                }
            }
            
            function PostToYourWall(storyid)
            {
                var title = 'Check out this story on Remenis!';
                if (storyid == "")
                {
                    storyid = document.getElementById('storyid_for_share').value;
                    title = 'I just wrote this story on Remenis!';
                }
                $.getJSON('/api/story/' + storyid, function(jsonString)
                          {
                          var description = "";
                          if (jsonString['title'] != "")
                          {
                          description += jsonString['title'] + ": ";
                          }
                          description += jsonString['story'].substring(0,200);
                          if (jsonString['story'].length > 200)
                          {
                          description += "...";
                          }
                          FB.ui({
                                method: 'feed',
                                name: title,
                                link: 'http://www.remenis.com/story/' + storyid,
                                redirect_uri: 'http://www.remenis.com/messagesent/',
                                picture: 'http://www.remenis.com/static/remenis_logo.png',
                                description: description,
                                });
                          });
            }
            
            function SendAMessage(storyid)
            {
                var title = 'Check out this story on Remenis!';
                if (storyid == "")
                {
                    storyid = document.getElementById('storyid_for_share').value;
                    title = 'I just wrote this story on Remenis!';
                }
                $.getJSON('/api/story/' + storyid, function(jsonString)
                          {
                          var description = "";
                          if (jsonString['title'] != "")
                          {
                            description += jsonString['title'] + ": ";
                          }
                          description += jsonString['story'].substring(0,200);
                          if (jsonString['story'].length > 200)
                          {
                            description += "...";
                          }
                            FB.ui({
                                method: 'send',
                                name: title,
                                link: 'http://www.remenis.com/story/' + storyid,
                                redirect_uri: 'http://www.remenis.com/messagesent/',
                                picture: 'http://www.remenis.com/static/remenis_logo.png',
                                description: description,
                            });
                });
            }
        </script>
        
        <!--javascript for search-->
        <script>
            $('#searchBox').change(function()
                {
                    var allFriendsDic = {{ friends_dictionary|safe }};
                    
                    for (var key in allFriendsDic)
                    {
                        if (allFriendsDic[key] == document.searchForm.searchBox.value)
                        {
                            document.getElementById('search_friend_id').value = key
                            document.searchForm.submit();
                            break;
                        }
                    }
                });
        </script>
        
        <!--javascript for post-->
        <script>
            $(function() {
              var today = new Date();
              var currentYear = today.getFullYear();
              
              for (i = currentYear; i >= 1900; i--)
              {
              var newoption = document.createElement('option');
              newoption.innerHTML = i;
              document.getElementById("date_year_select").appendChild(newoption);
              }
              
              var storyid = getParameter("share");
              if (storyid != false)
              {
                $("#share_text").val(storyid);
                $("#storyid_for_share").val(storyid);
                $('#share').modal('show');
              }
            });
            
            $('#post').on('hidden', function () {
// Tricky to NOT refresh after hiding a post, because of the case when you populate the post dates, and then edit a story
//                          if (document.getElementById("submittype").value == "edit")
//                          {
                          window.location.reload();
//                          }
                             });
            
            $("#checkbox_label").tooltip()
            $("#title_for_edit").keypress(preventSubmit);
            $("#tagged_friend_searchBox").keypress(preventSubmit);
            
            $(".edit_story").click(function(){
                                   $("#storyid_for_edit").val($(this).data('id'));
                                   populateEditStory($(this).data('id'));
                                   });
            
            $(".delete_story").click(function(){
                                     $("#storyid_for_delete").val($(this).data('id'));
                                     });
            
            function deleteFormSubmitted()
            {
                document.deleteForm.deleteButton.disabled = true;
            }
            
            function populateEditStory(storyid)
            {
                $("#post_modal_title").prop("innerHTML", "Edit this story!");
                $.getJSON('/api/story/' + storyid, function(jsonString)
                          {
                          $("#title_for_edit").val(jsonString['title']);
                          $("#story_for_edit").val(jsonString['story']);
                          $("#date_year_select").val(jsonString['story_date_year']);
                          addMonth(jsonString['story_date_month']);
                          addDay(jsonString['story_date_day']);
                          $("#private_checkbox").prop("checked", jsonString['is_private']);
                          var tagged_users = JSON.parse(jsonString['tagged_users']);
                          removeAllTaggedFriends();
                          for (var i = 0; i < tagged_users.length; i++)
                          {
                                addTaggedFriend(tagged_users[i]);
                          }
                          $("#submitButton").val("Update »")
                          });
            }
            
            function convertMonthToString(month_int)
            {
                monthDictionary = {1: "Jan", 2: "Feb", 3: "Mar", 4: "Apr", 5: "May", 6: "Jun", 7: "Jul", 8: "Aug", 9: "Sep", 10: "Oct", 11: "Nov", 12: "Dec"}
                
                if (month_int in monthDictionary)
                {
                    return monthDictionary[month_int];
                }
                else
                {
                    return "---";
                }
            }
            
            function addMonth(initialValue)
            {
                if (typeof initialValue == 'undefined')
                {
                    initialValue = "---";
                }
                else if (initialValue == 0)
                {
                    return;
                }
                
                var newselect = document.createElement('select');
                newselect.id = "date_month_select";
                newselect.setAttribute('name', "story_date_month");
                newselect.setAttribute('style', "width: 90px; margin-right: 5px;");
                newselect.setAttribute('onchange', "updateDays()");
                newselect.innerHTML = "<option>---</option><option>Jan</option><option>Feb</option><option>Mar</option><option>Apr</option><option>May</option><option>Jun</option><option>Jul</option><option>Aug</option><option>Sep</option><option>Oct</option><option>Nov</option><option>Dec</option>";
                newselect.value = convertMonthToString(initialValue);

                document.getElementById("post_date_div").appendChild(newselect);
                
                var oldmonthbutton = document.getElementById('add_month_button');
                document.getElementById("post_date_div").removeChild(oldmonthbutton);
                
                var newdaybutton = document.createElement('button');
                newdaybutton.id = "add_day_button";
                newdaybutton.setAttribute('type', "button");
                newdaybutton.setAttribute('style', "margin-bottom: 7px;");
                newdaybutton.setAttribute('onclick', "addDay()");
                newdaybutton.innerHTML = "+ add day";
                document.getElementById("post_date_div").appendChild(newdaybutton);
            }
            
            function addDay(initialValue)
            {
                if (typeof initialValue == 'undefined')
                {
                    initialValue = "---";
                }
                else if (initialValue == 0)
                {
                    return;
                }
                
                var newselect = document.createElement('select');
                newselect.id = "date_day_select";
                newselect.setAttribute('name', "story_date_day");
                newselect.setAttribute('style', "width: 70px;");                
                document.getElementById("post_date_div").appendChild(newselect);
                updateDays(initialValue);
                
                var olddaybutton = document.getElementById('add_day_button');
                document.getElementById("post_date_div").removeChild(olddaybutton);
            }
            
            function updateDays(initialValue)
            {
                var monthselect = document.getElementById('date_month_select');
                var dayselect = document.getElementById('date_day_select');
                
                var numdays = 0;
                if (monthselect.value == "---")
                {
                    numdays = 0;
                }
                else if (monthselect.value == "Feb")
                {
                    numdays = 28;
                }
                else if (monthselect.value == "Apr" || monthselect.value == "Jun" || monthselect.value == "Sep" || monthselect.value == "Nov")
                {
                    numdays = 30;
                }
                else
                {
                    numdays = 31;
                }
                
                dayselect.innerHTML = "<option>---</option>";
                for (i = 1; i <= numdays; i++)
                {
                    dayselect.innerHTML += "<option>" + i + "</option>";
                }
                dayselect.value = initialValue;
            }
        </script>
        
        <!--javascript for tagged user in post-->
        <script>
            $('#tagged_friend_searchBox').change(function()
                                                 {
                                                 addTaggedFriend(0);
                                                 });
            
            function addTaggedFriend(fbid)
            {
                var allFriendsDic = {{ friends_dictionary|safe }};
                for (var key in allFriendsDic)
                {
                    if (fbid == key || allFriendsDic[key] == document.submitForm.tagged_friend_searchBox.value)
                    {
                        var exists = false;
                        var table = document.getElementById("post-tagged-friends-table");
                        var rowCount = table.rows.length;
                        
                        for(var i=0; i<rowCount; i++)
                        {
                            var row = table.rows[i];
                            if (row.id == key)
                            {
                                exists = true;
                                break;
                            }
                        }
                        if (!exists)
                        {
                            $('#post-tagged-friends-body').append("<tr id=\"" + key + "\"><td width=\"35\">" +
                                                             "<img src=\"https://graph.facebook.com/" + key + "/picture?type=square\" class=\"lightborder rounded3\" height=\"30\"/>" +
                                                             "</td><td width=\"150\">" + allFriendsDic[key] +
                                                             "</td><td width=\"20\">" + "<img src=\"/static/img/x.png\" height=\"15\" id=\"" + key + "\" onclick=\"removeTaggedFriend(this)\"/>" +
                                                             "</td></tr>");
                        }
                        document.submitForm.tagged_friend_searchBox.value = "";
                        break;
                    }
                }
            }
            
            function removeTaggedFriend(image)
            {
                var table = document.getElementById("post-tagged-friends-table");
                var rowCount = table.rows.length;
                
                for(var i=0; i<rowCount; i++)
                {
                    var row = table.rows[i];
                    if (row.id == image.id)
                    {
                        table.deleteRow(i);
                        break;
                    }
                }
            }
            
            function removeAllTaggedFriends()
            {
                var table = document.getElementById("post-tagged-friends-table");
                var rowCount = table.rows.length;
                
                for(var i=0; i<rowCount; i++)
                {
                    table.deleteRow(i);
                }
            }
        </script>
        
        <!--javascript for validating post-->
        <script>
            function validateSubmitForm(form)
            { 
                form.submitButton.disabled = true;
                if (form.story.value == "")
                {
                    document.getElementById('post_errortext').innerHTML = "You must input a story!";
                    form.submitButton.disabled = false;
                    return false;
                }
                
                var table = document.getElementById("post-tagged-friends-table");
                var rowCount = table.rows.length;
                var tagged_friends_array = [];
                for(var i=0; i<rowCount; i++)
                {
                    var row = table.rows[i];
                    tagged_friends_array.push(row.id);
                }
                document.getElementById('post-tagged-friends').value = tagged_friends_array;
                return true;
            }
        </script>
        
        <!--javascript for comment-->
        <script>
            $("p[rel=tooltip]").tooltip();
            $("img[rel=tooltip]").tooltip();
            $("button[rel=popover]").popover();
            
            function validateCommentForm(form)
            {
                if (form.comment.value == "")
                {
                    return false;
                }
                return true;
            }
        </script>
        {% block load_javascript2 %}
        {% endblock %}
    </body>
</html>