<html>
    <head>
        <meta charset="utf-8">
        <title>Remenis</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            
        {% block head_extra %}
        {% endblock %}
            
        <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css"/>
        <style type="text/css">
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
            .sidebar-nav-fixed {
                padding: 9px 0;
                position:fixed;
                left:20px;
                top:60px;
                width:250px;
            }
            .row-fluid > .span-fixed-sidebar {
                margin-left: 290px;
            }

        </style>
        <link href="/static/css/bootstrap-responsive.css" rel="stylesheet" type="text/css"/>
    </head>
    <body {% block inside_body %}{% endblock %}>
        {% block nav %}
        {% endblock %}
        
        {% block splash %}
        {% endblock %}
        
        <div class="modal hide fade" id="post" style="display: none; width: 700px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h2>Post a story!</h2>
            </div>
            <form action="/post/" method="post" name="submitForm" style="margin-bottom:0;" onsubmit="return validateForm()">
                <div class="modal-body">
                    <div class="row-fluid">
                        <div class="span6">
                            <p>Title:<br><input type="text" class="input-xlarge" name="title" value="{{ title }}" placeholder="(optional)"></p>
                            <p>Tell us a story:<br><textarea name="story" class="input-xlarge" rows="6" cols="500"></textarea></p>
                            <p>Who was in the story?<br><input id="tagged_friend_searchBox" type="text" class="input-xlarge" data-provide="typeahead" data-items="6" data-source='{{ friends_name_array_string|safe }}' placeholder="enter friend's name" autocomplete="off"></p>
                            <div id="post_date_div" style="font-size: 18;">
                            <p>Date:</p>
                            <select id="date_year_select" name="story_date_year" style="width: 100px;"></select>
                            <button id="add_month_button" type="button" style="margin-bottom: 7px;" onclick="addMonth()">+ add month</button>
                            </div>
                        </div>
                        <div class="span6">
                            <h3>tagged friends</h3>
                            <input type="hidden" id="post-tagged-friends" name="tagged_friends">
                            <table class="table table-unbordered" id="post-tagged-friends-table">
                                <tbody id="post-tagged-friends-body">
                                    <tr id="{{ userid }}">
                                        <td width="35"><img src="https://graph.facebook.com/{{ userid }}/picture?type=square" height="30"/></td>
                                        <td width="150">{{ fullname }}</td>
                                        <td width="20"><img src="http://www.clker.com/cliparts/0/7/e/a/12074327311562940906milker_X_icon.svg.hi.png" height="15" id="{{ userid }}" onclick="removeTaggedFriend(this)"/></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="span8">
                            <p id="post_errortext" align="left" style="color: red; font-size: 16; margin: 0px 40px;"></p>
                        </div>
                        <div class="span4">
                            <a href="#" class="btn" data-dismiss="modal">Close</a>
                            <input name="submitButton" type="submit" class="btn btn-primary" style="width: 75px;" value="Submit &raquo;">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    
        <div class="container-fluid">
            <div class="row-fluid">
                {% block no_sidebar %}
                <div class="span2">
                    <div class="sidebar-nav-fixed span2">
                        <ul class="nav nav-list">
                            <li {% ifequal active_tab "home" %}class="active"{% endifequal %}>
                                <a href="../home"><i class="icon-home" style="margin-right: 6px"></i>Home</a>
                            </li>
                            <li {% ifequal active_tab "profile" %}class="active"{% endifequal %}>
                                <a href="../profile"><i class="icon-user" style="margin-right: 6px"></i>Profile</a>
                            </li>
                            <li {% ifequal active_tab "post" %}class="active"{% endifequal %}>
                                <a data-toggle="modal" href="#post"><i class="icon-pencil" style="margin-right: 6px"></i>Post</a>
                            </li>
                        </ul>
                    </div>
                </div>
                {% endblock %}
                
                <div class="span10 span-fixed-sidebar">
                {% block content %}
                {% endblock %}
                </div>
            </div>
            
            {% block no_footer %}
            <hr>
            <footer>
                <p>&copy; 2012 Nathan Chan</p>
            </footer>
            {% endblock %}
        </div>
        
        
        {% block load_javascript %}
        {% endblock %}
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="/static/js/jquery.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
        <script>
            $('#searchBox').change(function()
                {
                    var allFriendsDic = {{ friends_dictionary|safe }};
                    
                    for (var key in allFriendsDic)
                    {
                        if (allFriendsDic[key] == document.searchForm.searchBox.value)
                        {
                            document.getElementById('search_friend_id').value = key
                            document.searchForm.submit();
                            break;
                        }
                    }
                });
        </script>
        
        <script>
            $(function() {
              var today = new Date();
              var currentYear = today.getFullYear();
              
              for (i = currentYear; i >= 1900; i--)
              {
              var newoption = document.createElement('option');
              newoption.innerHTML = i;
              document.getElementById("date_year_select").appendChild(newoption);
              }
              });
            $('#post').on('hidden', function () {
                             });
            
            function addMonth()
            {
                var newselect = document.createElement('select');
                newselect.id = "date_month_select";
                newselect.setAttribute('name', "story_date_month");
                newselect.setAttribute('style', "width: 90px; margin-right: 5px;");
                newselect.setAttribute('onchange', "updateDays()");
                newselect.innerHTML = "<option>---</option><option>Jan</option><option>Feb</option><option>Mar</option><option>Apr</option><option>May</option><option>Jun</option><option>Jul</option><option>Aug</option><option>Sep</option><option>Oct</option><option>Nov</option><option>Dec</option>";
                document.getElementById("post_date_div").appendChild(newselect);
                
                var oldmonthbutton = document.getElementById('add_month_button');
                document.getElementById("post_date_div").removeChild(oldmonthbutton);
                
                var newdaybutton = document.createElement('button');
                newdaybutton.id = "add_day_button";
                newdaybutton.setAttribute('type', "button");
                newdaybutton.setAttribute('style', "margin-bottom: 7px;");
                newdaybutton.setAttribute('onclick', "addDay()");
                newdaybutton.innerHTML = "+ add day";
                document.getElementById("post_date_div").appendChild(newdaybutton);
            }
            
            function addDay()
            {
                var newselect = document.createElement('select');
                newselect.id = "date_day_select";
                newselect.setAttribute('name', "story_date_day");
                newselect.setAttribute('style', "width: 70px;");
                document.getElementById("post_date_div").appendChild(newselect);
                updateDays();
                
                var olddaybutton = document.getElementById('add_day_button');
                document.getElementById("post_date_div").removeChild(olddaybutton);
            }
            
            function updateDays()
            {
                var monthselect = document.getElementById('date_month_select');
                var dayselect = document.getElementById('date_day_select');
                
                var numdays = 0;
                if (monthselect.value == "---")
                {
                    numdays = 0;
                }
                else if (monthselect.value == "Feb")
                {
                    numdays = 28;
                }
                else if (monthselect.value == "Apr" || monthselect.value == "Jun" || monthselect.value == "Sep" || monthselect.value == "Nov")
                {
                    numdays = 30;
                }
                else
                {
                    numdays = 31;
                }
                
                dayselect.innerHTML = "<option>---</option>";
                for (i = 1; i <= numdays; i++)
                {
                    dayselect.innerHTML += "<option>" + i + "</option>";
                }
            }
        </script>
        
        <script>
            $('#tagged_friend_searchBox').change(function()
                                                 {
                                                 addTaggedFriend();
                                                 });
            
            function addTaggedFriend()
            {
                var allFriendsDic = {{ friends_dictionary|safe }};
                
                for (var key in allFriendsDic)
                {
                    if (allFriendsDic[key] == document.submitForm.tagged_friend_searchBox.value)
                    {
                        var exists = false;
                        var table = document.getElementById("post-tagged-friends-table");
                        var rowCount = table.rows.length;
                        
                        for(var i=0; i<rowCount; i++)
                        {
                            var row = table.rows[i];
                            if (row.id == key)
                            {
                                exists = true;
                                break;
                            }
                        }
                        if (!exists)
                        {
                            $('#post-tagged-friends-body').append("<tr id=\"" + key + "\"><td width=\"35\">" +
                                                             "<img src=\"https://graph.facebook.com/" + key + "/picture?type=square\" height=\"30\"/>" +
                                                             "</td><td width=\"150\">" + allFriendsDic[key] +
                                                             "</td><td width=\"20\">" + "<img src=\"http://www.clker.com/cliparts/0/7/e/a/12074327311562940906milker_X_icon.svg.hi.png\" height=\"15\" id=\"" + key + "\" onclick=\"removeTaggedFriend(this)\"/>" +
                                                             "</td></tr>");
                        }
                        document.submitForm.tagged_friend_searchBox.value = "";
                        break;
                    }
                }
            }
            
            function removeTaggedFriend(image)
            {
                var table = document.getElementById("post-tagged-friends-table");
                var rowCount = table.rows.length;
                
                for(var i=0; i<rowCount; i++)
                {
                    var row = table.rows[i];
                    if (row.id == image.id)
                    {
                        table.deleteRow(i);
                        break;
                    }
                }
            }
        </script>
        
        <script>
            function validateForm()
            { 
                document.submitForm.submitButton.disabled = true; 
                //stuff goes here 
                if (document.submitForm.story.value == "")
                {
                    document.getElementById('post_errortext').innerHTML = "You must input a story!";
                    document.submitForm.submitButton.disabled = false;
                    return false;
                }
                else
                {
                    var table = document.getElementById("post-tagged-friends-table");
                    var rowCount = table.rows.length;
                    var tagged_friends_array = [];
                    for(var i=0; i<rowCount; i++)
                    {
                        var row = table.rows[i];
                        tagged_friends_array.push(row.id);
                    }
                    document.getElementById('post-tagged-friends').value = tagged_friends_array;
                    document.submitForm.submit();
                }
            }
        </script>
    </body>
</html>