<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <!--<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>-->
            <a class="brand" href="../home/">Remenis</a>
            <div class="btn-group pull-right">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    <!--<i class="icon-user"></i> {{ fullname }}-->
                    <img src="https://graph.facebook.com/{{ userid }}/picture?type=square" height="20" width="20" style="margin: 0px"/> {{ fullname }}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="../profile">Profile</a></li>
                    <li><a href="#">Settings</a></li>
                    <li class="divider"></li>
                    <li><a href="../logout">Sign Out</a></li>
                </ul>
            </div>
            <form name="searchForm" class="navbar-search pull-right" action="" method="get">
                <input type="hidden" id="search_friend_id" name="q">
                <div class="input-append">
                    <input id="searchBox" type="text" class="search-query" data-provide="typeahead" data-items="6" data-source='{{ friends_name_array_string|safe }}' placeholder="Search for friend" autocomplete="off">
                    <span class="add-on" style="margin-left: -3px;"><i class="icon-search"></i></span>
                </div>
            </form>
        </div>
    </div>
</div>

<!--

-->