{% extends "remenis_base.html" %}

        {% block inside_body %}
        background="/static/homepage_background.jpg"
        {% endblock %}

        {% block splash %}
        <div style="text-align: center; margin-left: auto; margin-right: auto; margin-bottom: 50px; width: 630px;">
            <img src="/static/remenis_logo.png"/>
        </div>
        <div style="text-align: center; margin-left: auto; margin-right: auto; background: url('/static/homepage_box.png'); width: 630px; height: 462px;">
            <br><br><br><br>
            <p style="font-size: 36px; color: #FFFFFF;">A collection of your life stories.</p>
            <br>
            <p style="font-size: 25px; color: #FFFFFF; line-height:150%;">
            Invite your friends to share their<br>favorite stories about <i>you.</i>
            </p>
            <br><br><br>
            <p style="font-size: 25px; color: #808080; line-height:150%;">
            Sign up now to get advanced notice and<br>become one of the private beta testers.
            </p>
            <br>
            <form class="form-search" method="post" name="joinForm">
                <input type="text" class="input-xlarge" name="email" placeholder="email address">
                <button type="submit" class="btn btn-primary btn-medium">&nbsp;Join&nbsp;</button>
            </form>
        </div>
        {% endblock %}

        {% block no_sidebar %}
        {% endblock %}

        {% block no_footer %}
        {% endblock %}


