{% extends "remenis_base.html" %}

        {% block inside_body %}
        background="../static/homepage_background.jpg"
        {% endblock %}

        {% block splash %}
        <div style="text-align: center; margin-left: auto; margin-right: auto; margin-bottom: 50px; width: 630px;">
            <img src="../static/remenis_logo.png"/>
        </div>
        <div style="text-align: center; margin-left: auto; margin-right: auto; background: url('../static/homepage_box.png'); width: 630px; height: 462px;">
            <br><br><br><br>
            <p style="font-size: 40px; color: #FFFFFF;">Outsource your journal.</p>
            <br>
            <p style="font-size: 25px; color: #FFFFFF; line-height:150%;">
            Invite your friends to share their<br>favorite stories about <i>you.</i>
            </p>
            <br><br><br>
            <p style="font-size: 40px; color: #808080; line-height:150%;">
            Thank you!
            </p>
            <p style="font-size: 25px; color: #808080; line-height:150%;">
            We will notify you when Remenis has<br>officially launched!
            </p>
        </div>
        {% endblock %}

        {% block load_javascript %}
        <!-- RPX social login widget -->
        <script>
            var rpxJsHost = (("https:" == document.location.protocol) ? "https://" : "http://static.");
            document.write(unescape("%3Cscript src='" + rpxJsHost +
                                    "rpxnow.com/js/lib/rpx.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script>
            RPXNOW.overlay = true;
            RPXNOW.language_preference = 'en';
            // Set default provider to Facebook
            // https://rpxnow.com/docs#sign-in_default_provider
            //RPXNOW.default_provider = 'facebook';
        </script>
        {% endblock %}

        {% block no_footer %}
        {% endblock %}


