{% extends "remenis_base_nav.html" %}

        {% block content %}
        <div class="span9">
            <div class="hero-unit">
                <h1><img src={{ photourl }} /> Hi, {{ fullname }}!</h1>
                <!--<a id="logout" href="/" onclick='FB.Connect.ifUserConnected(null,function() { window.location = "/" }); FB.Connect.logoutAndRedirect("/"); return false;'>Sign out</a>
                <a href="/" id="auth-logoutlink">logout [doesn't work!!!]</a>-->
                <br>
                <h3>What do you want to do?</h3><br>
                <a rel=parent href="../post/" class="btn btn-primary btn-large">Post a story &raquo;</a>
                <a rel=parent href="../search/" class="btn btn-primary btn-large">Search &raquo;</a>
            </div>
        </div>
        {% endblock %}
        
        {% block load_javascript %}
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="/static/js/jquery.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        {% endblock %}
