{% extends "remenis_base_nav.html" %}

        {% block head_extra %}
        <link href="/static/css/calendar.css" rel="stylesheet" type="text/css" media="screen"/>
        <link href="/static/css/ui-lightness/jquery-ui-1.8.21.custom.css" rel="stylesheet" type="text/css"/>
        {% endblock %}
        
        {% block content %}
        <div class="span9">
            <div class="hero-unit">
<!--                <h1>Post a story!</h1>-->
                
                <div class="row-fluid">
                    <div class="span4">
                        
                        <div class="modal hide" id="myModal">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">×</button>
                                <h3>Post a story!</h3>
                            </div>
                            <form action="/post/" method="post" name="submitForm" style="margin-bottom:0;" onsubmit="return validateForm()">
                                <div class="modal-body">
                                    
                                    <!--{% if debug %}
                                    <p>AuthorID: <input type="text" class="input-xlarge" name="authorid" value="{{ authorid }}"></p>
                                    {% endif %}-->
                                    <p>Title: <input type="text" class="input-xlarge" name="title" value="{{ title }}" placeholder="(optional)"></p>
                                    <p id="errortext" style="color: red;"></p>
                                    <p>Tell us a story: <textarea name="story" class="input-xlarge" rows="10" cols="500"></textarea></p>
                                    <p>Date: <input type="text" class="input-large" name="story_date"  id="datepicker" value="{{ story_date }}"></p>
                                </div>
                                <div class="modal-footer">
                                    <a href="#" class="btn" data-dismiss="modal">Close</a>
                                    <input name="submitButton" type="submit" class="btn btn-primary" style="width: 75px;" value="Submit &raquo;">
                                </div>
                            </form>
                        </div>
                            
                        <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-large">Post &raquo;</a>
                    </div><!--/span-->
                </div><!--/row-->
            </div>
        </div><!--/span-->
        {% endblock %}
        
        {% block load_javascript %}
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="/static/js/jquery.js"></script>
        <script src="/static/js/bootstrap.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/bootstrap-transition.js"></script>
        <script src="/static/js/bootstrap-alert.js"></script>
        <script src="/static/js/bootstrap-modal.js"></script>
        <script src="/static/js/bootstrap-dropdown.js"></script>
        <script src="/static/js/bootstrap-scrollspy.js"></script>
        <script src="/static/js/bootstrap-tab.js"></script>
        <script src="/static/js/bootstrap-tooltip.js"></script>
        <script src="/static/js/bootstrap-popover.js"></script>
        <script src="/static/js/bootstrap-button.js"></script>
        <script src="/static/js/bootstrap-collapse.js"></script>
        <script src="/static/js/bootstrap-carousel.js"></script>
        <script src="/static/js/bootstrap-typeahead.js"></script> 
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
        <script>
            $(function() {
                    $( "#datepicker" ).datepicker();
            });
            $('#myModal').on('hidden', function () {
                             });
            function modalSavePressed() {
                
                document.submitForm.story.value += "nathan ";
            }
        </script>
        <script>
            function validateForm() { 
                document.submitForm.submitButton.disabled = true; 
                //stuff goes here 
                if (document.submitForm.story.value == "")
                {
                    document.getElementById('errortext').innerHTML = "You must input a story!";
                    document.submitForm.submitButton.disabled = false;
                    return false;
                }
                else
                {
                    document.submitForm.submit();
                }
            }
        </script>
        {% endblock %}
