{% extends "remenis_base_nav.html" %}

        {% block head_extra %}
        <link href="/static/css/jquery-ui-1.8.21.custom.css" rel="stylesheet" type="text/css"/>
        <script src="/static/js/autocomplete.js" type="text/javascript"></script>
        <script>
            $(function() {
              var availableTags = {{ tagarray|safe }};
              $( "#tags" ).autocomplete({
                                        source: availableTags
                                        });
              });
        </script>
        {% endblock %}

        {% block content %}
        <div class="span9">
            <div class="hero-unit">
                <h1>Search!</h1>
                {% if error %}
                <p style="color: red;">{{ error }}</p>
                {% endif %}
                <div class="row-fluid">
                    <div class="span4 columns">
                        <form action="" method="get">
                            <p>Enter a User ID: <input type="text" class="input-xlarge" name="q"></p>
                            
                            <p>Testing Auto-complete - try typing in a friend's name<input id="tags"/></p>
                            
                            <input type="submit" class="btn btn-large" value="Search &raquo;">
                        </form>
                    </div><!--/span-->
                </div><!--/row-->
            </div>
        </div><!--/span-->
        {% endblock %}
