{% extends "remenis_base_nav.html" %}

        {% block content %}
        <div class="span9">
            <div class="hero-unit">
                <h1>Search!</h1>
                {% if error %}
                <p style="color: red;">{{ error }}</p>
                {% endif %}
                <div class="row-fluid">
                    <div class="span6">
                        <form name="searchForm" action="" method="get">
                            <p>Enter a User ID: <input type="text" class="input-xlarge" name="q"></p>
                                
                            <input type="submit" class="btn btn-large" value="Search &raquo;">
                        </form>
                    </div>
                </div><!--/row-->
            </div>
        </div><!--/span-->
        {% endblock %}

        {% block load_javascript %}
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="/static/js/jquery.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        {% endblock %}
