.hero-unit {
  padding: 90px;
  margin-bottom: 30px;
  #background-color: #FFFF00;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-image: url("../homepage_box.png");
}

.hero-unit h1{
  color: #FFFF00; 
}
.hero-unit h2{
  color: #fff; 
}
.hero-unit p{
  color: #B8B8B8; 
}

.btn-large {
  padding: 18px 28px;
  font-size: 16px;
  }
  
.btn-large a{
  font-size: 30px;
}

#floater	{float:left; height:50%; margin-bottom:-120px;}
#content	{clear:both; height:240px; position:relative;}

.center{
	clear:both;
	margin-left:auto;
	margin-right:auto; 
	text-align:center;
	
}

.fb-like {
display: block; 
height: 70px;
vertical-align:top;
}

#next-revision{
	display:none; 
}

#no-revisions
{

}

.revision-slider
{
	margin-top:30px;
	margin-left:auto;
	margin-right:auto; 
	text-align:center;
}

.revision-slider-window
{ 
	
}

.revision-sliders ul {
	width: 560px;
	height: 320px;
}

.revision-sliders li {
	list-style: none;
	margin: 0;
	height: 320px;
}

.revision-slider .bx-prev {
	position: absolute;
	top: 120px;
	left: 80px;
	width: 31px;
	height: 31px;
	text-indent: -999999px;
	background: url(../img/icon_arrow_left.png) no-repeat 0 -31px;
}

.revision-slider .bx-next {
	position: absolute;
	top: 120px;
	right: 30px;
	width: 31px;
	height: 31px;
	text-indent: -999999px; 
	background: url(../img/icon_arrow_right.png) no-repeat 0 -31px;
}

.content-container{
	#background-color: #f5f5f5;
	padding: 0px;
	line-height: 2;
	#background-image: url("../img/rp.jpg");
}

.about{
	display: block;
	margin-top:20px; 
	#width: 250px;
	height: 338px;
	display:block;
	line-height: 2;
	background-image: url("../img/postit.jpg");
}

.right{
	float:right;
}

.left{
	float:left;
}

[class*="span"] {
margin-left: 0px;
}


.loading { 
	
	margin-top: 20px; 
	display:none;     
}

#youtube-id { 
	
	display:none;     
}

#revisions_table
{
	display:none; 
}

.navbar {
  margin-bottom: 0px;
}

.dash
{
    background-image: url("../img/rpaper.png");	
	padding: 60px;	
}

.content-container h2{
	line-height: 2;
}

.content-container h2 .small{
	line-height: 1;
}

.content-container p{
	line-height: 2;
	text-align: justify;
}

.content-container a{
	font-color: #000;
}
#myCarousel p
{
	font-size:15px;
	text-align:center;
}
.logo-image
{
	float:right;
	width:300px;   
}

.about-text-block
{
	padding:40px;	
		
}

ul.secondary-nav,.nav.secondary-nav
{
	float:right;
	margin-left:10px;
	margin-right:0;
}

#all-videos-table
{
	margin-top: 20px; 
}

#all-videos
{
	display: none; 
	margin-top: 20px; 
}

